.menu-mobile-body {
  position: fixed;
  left: -100%;
  width: 75%;
  height: 100%;
  position: fixed;
  top: 0;
  background: white;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1000;
  overflow-y: scroll;
}

.menu-mobile-body--active {
  left: 0 !important;
}

.icon-inner,
.ionicon,
svg {
  display: block;
  height: 100%;
  width: 100%;
}

.menu-expended {
  background-color: #FFF2F4;
}

.dropdown-menu {
  animation-name: dropUp;
  animation-duration: .3s;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@keyframes dropUp {
  0% {
     top: 60px;
     opacity: 0;
  }
  100% {
      top: 20px;
      opacity: 1;
  }
}

.wrapper-footer {
  display: grid;
  grid-template-columns: 1fr 332px 240px;
}

@media only screen and (max-width: 1024px){
  .wrapper-footer {
    display: flex;
    flex-direction: column;
  }
}
.fake-border {
  width: 100%;
  height: 2px;
  background: rgba(171, 171, 171, 0.5);
  position: relative;
}

.fake-border::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 137px;
  height: 100%;
  background: #ff0000;
}

.fake-large-border {
  height: 2px;
  background: rgba(171, 171, 171, 0.5);
  position: relative;
  margin-top: 29px;
  margin-bottom: 22px;
}