.service_standalone {
  background-image: url(https://jtexpress.vn/themes/jtexpress/assets/images/service1_nam.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.75);
}

.service_fastalone {
  background-image: url(https://jtexpress.vn/themes/jtexpress/assets/images/service-fast.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.25);
}

.service_superalone {
  background-image: url(https://jtexpress.vn/themes/jtexpress/assets/images/service-super.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1.25);
}

.service_freshalone {
  background-image: url(https://jtexpress.vn/themes/jtexpress/assets/images/service-fresh.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* transform: scale(1.25); */
  transform: scale(1.5);
}

.service_internationalalone {
  background-image: url(https://jtexpress.vn/themes/jtexpress/assets/images/service-international.png);
  background-position: center center;
  /* background-size: cover; */
  background-size: 72%;
  background-repeat: no-repeat;
  /* transform: scale(1.25); */
  transform: scale(2);
}

.wrapper-section-7-in-service {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

@media only screen and (max-width: 2319px) {
  .wrapper-section-7-in-service {
    grid-template-rows: 449px 1fr;
  }
}

@media only screen and (max-width: 1920px) {
  .wrapper-img-map {
    height: 65%;
    margin-left: 35px;
  }

  .wrapper-section-7-in-service {
    grid-template-rows: 327px 1fr;
  }
}

@media only screen and (max-width: 1536px) {
  .wrapper-img-map {
    height: 65%;
  }
  .wrapper-section-7-in-service {
    grid-template-rows: 179px 1fr;
  }
}

@media only screen and (max-width: 1440px) {
  .sec-7-service {
    padding: 10px 0 !important;
  }

  .wrapper-section-7-in-service {
    grid-template-rows: 179px 1fr;
  }
}
